<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Nuevo producto</h1>
<form method="post" action="#"
      th:action="@{/producto/submit}"
      th:object="${producto}">

    <input type="hidden"
           id="identificador"
           th:field="*{id}" />

    <input type="text"
           id="nombre" placeholder="Nombre"
           th:field="*{nombre}" />

    <input type="number"
           id="cantidad" placeholder="unidades, kgs..."
           th:field="*{cantidad}" />

    <input type="number"
           id="enCarrito" placeholder="-"
           th:field="*{enCarrito}" />

    <input type="submit"
           value="Enviar" />

</form>
</body>
</html>